---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("portofolio")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Layout title="Portofolio">
  <h2 class="mt-5 text-center text-3xl font-semibold text-white">Portofolio</h2>
  <section class="mx-3 mt-8 md:mx-5 lg:mx-20 lg:mt-16">
    {
      posts.map((post) => (
        <a
          href={`/portofolio/${post.slug}/`}
          class="mb-8 flex flex-col-reverse gap-4 items-center rounded-md border border-green-200/30 bg-[#191A19] p-2 text-white shadow-sm shadow-green-200/10 md:grid md:grid-cols-2 md:p-4"
        >
          <div class="flex flex-col justify-between">
            <div>
              <p class="text-base text-gray-300 lg:text-lg">
                {post.data.projectName}
              </p>
              <h3 class="mt-2 text-xl font-semibold lg:mt-4 lg:text-3xl">
                {post.data.title}
              </h3>
              <p class="mt-2 text-sm text-gray-300 lg:mt-4 lg:text-base">
                {post.data.description}
              </p>
            </div>
            <Button className="mt-3 w-fit rounded-full lg:mt-5" size={"sm"}>
              See more details
            </Button>
          </div>
          <img
            width={720}
            height={360}
            src={post.data.heroImage}
            alt={post.data.projectName}
            class="rounded-md"
          />
        </a>
      ))
    }
  </section>
</Layout>
